/* Navigation */

html{
    font-family: 'Releway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.logo-spotify{
    width: 30vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
}
nav{
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5vh;
    font-size: 3vh;
    font-weight: lighter;
    margin-right: 5vh;
}
nav a{
    text-decoration: none;
    color: black;
}
/* Container-photo */

.container-photo{
    background-image: url(../images/landing.jpg);
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    text-align: center;
}
.container-photo h1{
    color: white;
    font-size: 10vh;
    margin-bottom: 5vh;
}
.container-photo p{
    color: white;
    font-size: 3.5vh;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* What's on Spotify */

.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh; 
    margin-bottom: 15vh;    
}   
.container-box .sub-container{
    width: 100%;   
}
.center{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start; 
}
.center img{
   width: 100%;   
}
.title h2{
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
}
div.title hr{
    width: 45vh;
    margin-bottom: 10vh;
    color: #00b172;
    border: 2px solid #00b172;

}
div.boxes{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 25vw;
}
 .boxes h4{
    text-align: center;
    color: #00b172;
    font-size: 4vh;
    font-weight: bolder;
    margin-bottom: 3vh;
}
.img-box{
    width: 33%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes p{
    font-size: 3vh;
    text-align: center;
}

/* Section container-footer */

.green-box{
    background-color: #00b172;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10vh;   
}
.title-section{
    color: white;
    font-size: 5vh;
    padding-bottom: 1vh;
    border-bottom: 3px solid white;
}
.kanye-img{
    width: 45vh;
    margin-right: 10vh;
}
.spotify-icon{
    width: 18vh;
    display: flex;
    justify-content: center;
}
.section-one{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;
}
.items-green p{
    font-size: 3vh;
    color: white;
    font-weight: lighter;
    width: 40vh;
}
.items-green h4{
    color: white;
    padding-bottom: 4vh;
    font-size: 4vh;
    font-weight: bold;
}
